body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  color: #eee;
  font-family: sans-serif;
}

.task__form {
  width: 50%;
  margin: 5rem auto;
  text-align: center;
}

.task__input {
  width: 300px;
  height: 2.5rem;
  padding: 0 5px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.submit__btn {
  height: 2.5rem;
  background-color: white;
  border-radius: 5px;
  padding: 0 5px;
  margin: 0 0.5rem;
  border: 2px solid white;
  transition: all ease-in 0.4s;
}

.submit__btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #333;
  padding: 0.5rem;
  border-radius: 10px;
  margin: 2rem auto;
  max-width: 30rem;
}

.task__container {
  width: 50%;
  margin: auto;
  text-align: center;
}

.taskname {
  display: inline;
  margin: 0 0.5rem 0 0;
}

.delete__btn {
  background-color: #e00000;
  display: inline;
  border: none;
  border-radius: 5px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
}

.bi-trash-fill {
  padding: 5px;
  height: 30px;
  width: 30px;
  color: white;
  font-size: 1rem;
}

.modal {
  background-color: #eee;
  color: #333;
  border-radius: 10px;
  padding: 1rem;
}

#delete-btn {
  background-color: #e00000;
  color: white;
}

#cancel-btn {
  background-color: #ccc;
}

#delete-btn,
#cancel-btn {
  border: none;
  padding: 5px 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.submit__btn {
  cursor: pointer;
}

.toast[data-position^="toast"] {
  display: flex;
  align-items: center;
  background-color: #eee;
  color: #333;
  border-radius: 0.5rem;
  position: fixed;
  top: 0;
  right: 0;
  height: 4rem;
  width: 300px;
  cursor: pointer;
  margin: 0.75rem;
  transition: all ease 0.3s;
}

.toast[data-position$="-info"] {
  border-left: 8px solid #d8ca00;
}

.toast[data-position$="-success"] {
  border-left: 8px solid #06c200;
}

.toast::before {
  content: "\00D7";
  position: absolute;
  top: 5px;
  right: 8px;
  font-size: 1.25rem;
}

.toast i,
.toast p {
  display: inline;
}

.toast i {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.toast[data-position$="-success"] i {
  color: #06c200;
}

.toast[data-position$="-info"] i {
  color: #d8ca00;
}
